<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <title>헬스킹</title>

    <link rel="stylesheet" type="text/css" href="../static/index.css" />

    <script>
        $(document).ready(function () {
            const token = localStorage.getItem('access_token');
            if (token) {
                showCard_login();
            }
        });

        function groupJoin(ID) {
            console.log(ID);
            const token = localStorage.getItem('access_token');
            if (!token) {
                alert("로그인을 해주세요!");
            } else {
                $.ajax({
                    type: "POST",
                    url: "http://yoonwoo.shop:5000/main/join",
                    headers: {'Authorization': token},
                    data: { give_ID: ID },
                    success: function (response) { // 성공하면
                        if (response["result"] == "success") {
                            alert("참여 완료!")
                            // 성공 시 페이지 새로고침하기
                            window.location.reload();
                        } else if (response['result'] == 'fail') {
                            alert("이미 참여한 활동입니다.")
                        }
                    }
                })
            }
            }

        function showCard_login() {
            const token = localStorage.getItem('access_token');
            $.ajax({
                type: "GET",
                url: "http://yoonwoo.shop:5000/main/login",
                headers: {'Authorization': token},
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let activities = response['activities']
                        let logintitle = '<h3 class="title is-3" style="margin-bottom:0.5em">나의 활동</h3>'

                        $("#login-title").append(logintitle);

                        for (let i = 0; i < activities.length; i++) {

                            makeCard_login(
                                activities[i]["acname"],
                                activities[i]["acmaxnum"],
                                activities[i]["time"],
                                activities[i]["place"],
                                activities[i]["content"],
                                activities[i]["numbers"],
                                activities[i]["participant"]
                            )

                        }
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            })
        }

        function makeCard_login(acname, acmaxnum, time, place, content, numbers, participant) {

            let temp_html = `<div class="card" style="margin-bottom: 1em;">
                <h3>제목:${content}</h3>
                <p>종목:${acname}</p>
                <p>시각:${time}</p>
                <p>장소:${place}</p>
                <p>모집인원:${numbers}/${acmaxnum}</p>
                <p>참여자:${participant}</p>
                <p>모집상태: ${numbers === acmaxnum ? "모집완료" : "모집 중"}</p>
                </div>`

            $("#card-list_login").append(temp_html);
        }



        // function makeCard(ID, acname, acmaxnum, time, place, content, numbers, participant, IDs) {

        //     let temp_html = `<div id="${ID}" class="card" style="margin-bottom: 1em;">
        //         <h3>제목:${content}</h3>
        //         <p>종목:${acname}</p>
        //         <p>시각:${time}</p>
        //         <p>장소:${place}</p>
        //         <p>모집인원:${numbers}/${acmaxnum}</p>
        //         <p>참여자:${participant}</p>
        //         <button id="join_button" class="button button_gap" onclick="groupJoin('${ID}')">참가</button>
        //         </div>`

        //     $("#card-list").append(temp_html);
        // }
    </script>

</head>

<body class="real-wrap">
    <header>
        <section class="hero is-small is-info">
            <div class="herobody">
                <p class="title">
                    헬스킹
                </p>
            </div>

            <div class="nav-bar" id="nav-bar">
                <button id="login-btn" class="button button_gap is-warning">로그인</button>
                <button id="recruit_button" class="button button_gap is-success">모집</button>
            </div>
        </section>

        <div id='recuit-box-sub'>
            <input id='ac_name' class="input text-input is-small" type="text" placeholder="종목">
            <input id='ac_maxnum' class="input text-input is-small" type="text" placeholder="모집인원">
            <input id='ac_time' class="input text-input is-small" type="text" placeholder="시간">
            <input id='ac_place' class="input text-input is-small" type="text" placeholder="장소">
            <input id='ac_content' class="input text-input is-small" style="width:330px;" type="text"
                placeholder="내용 요약">
            <button id="registration" class="button button_gap" style="height: 2em; margin-top: 0.3em;">등록</button>
        </div>
        <hr style="margin: 0.5rem 0 0.7rem 0;">

    </header>
    <div class="login-form">
        <form id="login-form">
            <p id="close-btn" class='close-btn'>X</p>
            <div class="form-row">
                <label for="user-id">&nbsp;&nbsp;&nbsp;아이디</label>
                <input type="text" name="user-id">
            </div>
            <div class="form-row">
                <label for="user-pw">비밀번호</label>
                <input type="password" name="user-pw">
            </div>
            <div class="form-row">
                <input id="login-submit" type="button" name="제출버튼" value="로그인">
            </div>
            <a href="/user">회원가입하기</a>
        </form>
    </div>
    <main role="main" class="main">
        {% block main %}
        {% endblock %}
    </main>
</body>
<script src="../static/index.js"></script>

</html>